<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>券号抽奖-聚美优品成都2016年会</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel="stylesheet" href="/css/common.css"/>
    <script type="text/javascript">
        var serverInfo = {serverUrl :"<%=serverInfo.serverUrl%>",serverHttpPort:"<%=serverInfo.serverHttpPort%>",socketPort:"<%=serverInfo.socketPort%>"}
    </script>
</head>
<body>


<div class="background ticket_background">
    <div class="gap title">
        <div class="gap_info">券号抽奖</div>
        <div class="gap_lun"></div>
    </div>
    <div class="front">
        <div class="first dashboard"></div>
        <div class="second dashboard">
        </div>
    </div>
</div>


</body>
<script src="/js/jquery-2.0.3.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/jquery.mousewheel.min.js"></script>
<script src="/js/jquery.tools.min.js"></script>
<script src="/js/tools.js"></script>
<script src="/js/select-all.js"></script>
</html>